body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #333333;
}

li {
    list-style: none;
}

li:hover {
    text-decoration: underline;
}

/* Style header section */

header {
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 92px;
    height: 33px;
    margin-left: 30px;
}

header ul li {
    margin-right: 30px;
}

/* Style main section */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main h2 {
    border-bottom: 1px solid;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    width: 1000px;
    justify-content: space-between;
}

form div {
    display: flex;
    justify-content: space-between;
}

input {
    flex: 1;
    margin: 15px 0 0 10px;
}

.left {
    width: 200px;
    margin: 15px 0 0 10px;
}

.right {
    width: 300px;
    margin: 15px 0 0 10px;
}

#submit {
    margin-top: 20px;
    align-self: center;
}

button {
    color: white;
    background-color: teal;
}
/* Style footer section */

footer {
    flex-basis: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f0;
    border-top: 1px solid #e6e6e6;
}

footer ul {
    margin: 0;
    display: flex;
}

footer ul li {
    padding: 5px;
    margin-right: 20px;
}

footer a {
    color: #595959;
}